<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
</head>
<body>
    <h1>Movies</h1>

    <a href="/add-movie">Add Movie</a>
    <br><br>

    <table border="1">
        <tr>
            <th>Movie ID</th>
            <th>Title</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>

        {% for movie in movies %}
        <tr>
            <td>{{ movie.id }}</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.year }}</td>
            <td>
                <a href="/add-watchlist/{{ movie.id }}/{{ movie.title }}">Add to Watchlist</a>
                |
                <a href="/update-movie/{{ movie.id }}">Update</a>
                |
                <a href="/delete-movie/{{ movie.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Back Home</a>
</body>
</html>
